@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Datatype:wght@100..900&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "montserrat", sans-serif;
    background-image: linear-gradient( black, rgb(192, 57, 192), black);
    color: white;
}

header {
    text-align: center;
}

nav .contatos {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    color: rgb(0, 158, 250)
}

i {
    color: rgb(255, 166, 0);
}

a {
    text-decoration: none;
    color: rgb(0, 158, 250)
}

.sobreMim {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 80px 7px;
}

.sobreMim .link {
    transition: 0.4s;
}

.sobreMim .link:hover {
    transform: scale(1.25);
    margin: 10px 0 0 100px;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 100px 0;
    font-size: 30px;
}

.inicio img {
    border-radius: 8%;
    width: 300px;
    margin: 0 0 0 15px;
    transition: 0.5s;
    padding: 5px
}

.inicio img:hover {
    transform: scale(1.2);
    margin: 0 0 0 50px;
    border: 3px solid orange;
}

h3 {
    font-size: larger;
}

h4 {
    font-size: large;
}

.item-projetos-pessoais{
    margin: 0 0 40px 0;
}

.item {
    margin: 0;
}

h3 {
    transition: 0.4s;
}
h3:hover {
    font-size: 25px;
}

iframe {
    background-color: white;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}

iframe:hover {
    transform: scale(1.05);
    margin: 20px 0 0 20px;
    border: 3px solid orange;
    transition: 0.5s;
}

.contatos .item {
    transition: 0.4s;
}

.contatos .item:hover {
    transform: scale(1.2);
    padding: 0 20px 0 20px;
}
